body {
  color: black;
  background-color: #d1f4ee;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.heading {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin: 10px;
}

.img-container {
  display: flex;
  justify-content: space-around;
  height: 200px;
  background-color: #87b7a7;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 20px;
}

.image {
  height: 180px;
  width: auto;
}

.services-container {
  background-color: #87b7a7;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: solid;
}

.rate-specific {
  background-color: #76b19d;
  width: 350px;
  border-left: solid;
  border-right: solid;
}

.rate-specific, p {
  padding: 5px;
}

.header-inside {
  display: flex;
  justify-content: center;
}

.services {
  display:flex;
  justify-content: space-around;
}

.rates-container {
  background-color: #87b7a7;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 20px;
}

.rates {
  display: flex;
  justify-content: space-between;
}

.contact-container {
  background-color: #87b7a7;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 20px;
}

.contact-info {
  display:flex;
  justify-content: space-around;
}
